@import "assets/styles/variables";
.app {
  background: $background;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  color: $color-white;
  a {
    text-decoration: none;
    color: $color-white;
  }
}
