$background: linear-gradient(#10beb8, #b3c89f);
$color-green: #10beb8;
$color-white: #fff;
$color-black: #000;
$color-red: #e63e00;
$color-dark-red: #d71921;
$roboto: Roboto, sans-serif;
$roboto-black: Roboto-Black, sans-serif;
$border-opacity: rgba(16, 190, 184, 0.2);
$border-opacity-white: rgba(255, 255, 255, 0.3);

//WINDOW DIMENSIONS
$mobile: 768px;
$tablet: 1024px;
